<h1 class="page-title">{{ 'customer.register.header' | t }}</h1>
<p>Registrering håndteres af Hilding Anders. </br>Kontakt os på  <a href="mailto:jacob.loburski@hildinganders.com">jacob.loburski@hildinganders.com</a> for at høre mere.</p>